body {
    font-family: sans-serif;
}

header {
    background-color: #97B1F0;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    border: 5px solid #3871ff;
    border-radius: 5px;
    width: 554px;
    height: 158px;
    text-align: center;
    background-color: white;
    font-weight: 900;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

.section1, .section2, .section3, .section4, .section5 {
    border-radius: 9px;
    width: 160px;
    height: 70px;
    background-color: #414857;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.about {
    font-size: 48px;
    color: #2c3e50;
}

.abouta {
    font-size: 34px;
    color: #000;
    width: 50%;
}

.abouta img {
    position: absolute;
    right: 50px;
    top: 570px;
}

.popular {
    font-size: 48px;
    text-align: center;
    color: #2c3e50;
    padding-top: 70px;
}

.populars img {
    width: 320px;
    height: 249px;
    margin-left: 50px;
}
